@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta{

    padding: calc(v.$separacion / 6);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error{

        background-color: v.$rojo;

    }

    &.success{

        background-color: v.$verde;

    }

}